In [ ]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [2]:
# loading the data from csv file to pandas dataframe
data_file = "C:/Users/Piyusha/Car Price Prediction/Car_Info.csv"
car_dataset = pd.read_csv(data_file)
car_dataset.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp

In [3]:
# Check the number of rows and columns
car_dataset.shape

(8128, 11)

In [4]:
# Load the data from CSV file to pandas DataFrame
data_file = "C:/Users/Piyusha/Car Price Prediction/Car_Info.csv"
car_dataset = pd.read_csv(data_file)


# Clean the data (handle missing values, duplicates, etc.)
car_dataset.dropna(inplace=True)
car_dataset.drop_duplicates(inplace=True)

# Check the number of rows and columns 
car_dataset.shape

(6718, 11)

In [5]:
car_dataset=car_dataset.reset_index(drop=True)
car_dataset.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp

In [6]:
def clean_data(value):
    if isinstance(value, str):
        value = value.split(' ')[0].strip()
        if value == '' or value == 'NaN':
            value = 0
    return float(value)

columns_to_clean = ['mileage', 'max_power', 'engine']
car_dataset[columns_to_clean] = car_dataset[columns_to_clean].map(clean_data)

In [7]:
pd.set_option('future.no_silent_downcasting', True)

In [8]:
# Encode categorical columns
car_dataset.replace({'fuel': {'Petrol': 0, 'Diesel': 1, 'CNG': 2, 'LPG': 3}}, inplace=True)
car_dataset.replace({'seller_type': {'Dealer': 0, 'Individual': 1, 'Trustmark Dealer': 2}}, inplace=True)
car_dataset.replace({'transmission': {'Manual': 0, 'Automatic': 1}}, inplace=True)
car_dataset.replace({'owner': {'First Owner': 0, 'Second Owner': 1, 'Third Owner': 2, 'Fourth & Above Owner': 3, 'Test Drive Car': 4}}, inplace=True)

# Apply infer_objects to retain old behavior
car_dataset = car_dataset.infer_objects(copy=False)
car_dataset.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power
0,Maruti Swift Dzire VDI,2014,450000,145500,1,1,0,0,23.40,1248.0,74.00
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,1,1,0,1,21.14,1498.0,103.52
2,Honda City 2017-2020 EXi,2006,158000,140000,0,1,0,2,17.70,1497.0,78.00
3,Hyundai i20 Sportz Diesel,2010,225000,127000,1,1,0,0,23.00,1396.0,90.00
4,Maruti Swift VXI BSIII,2007,130000,120000,0,1,0,0,16.10,1298.0,88.20

In [9]:
car_dataset.to_csv('cleandataset.csv')

In [10]:
# Define the target variable and features
X = car_dataset.drop(columns=['selling_price', 'name'], axis=1)
y = car_dataset['selling_price']

In [11]:

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
from sklearn.ensemble import RandomForestRegressor


# Initialize the Random Forest model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)

# Train the model
rf_model.fit(X, y)

# Make predictions
y_pred_rf = rf_model.predict(X)

# Evaluate the model
r2_rf = r2_score(y, y_pred_rf)

# Print performance metrics
print("Random Forest Performance:")
print(f"R-squared (R²): {r2_rf}")

# Save the trained model
with open('rf_model.pkl', 'wb') as f:
    pickle.dump(rf_model, f)

Random Forest Performance:
R-squared (R²): 0.9862438024945468